body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.menu-mobile {
    display: none;
}

.overlay-menu {
    display: none;
}

.header-container {
    padding-top: 16px;
    padding-left: 76px;
    padding-right: 76px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 2px lightgray;
}

.header-logo img {
    height: 80px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    /* Menü in Reihe anzeigen */
}

.header-menu a {
    margin-right: 8px;
    text-decoration: none;
    color: black;
    display: flex;
    align-self: flex-end;
    /* Menü auf Linie anzeigen */
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
    /* nicht springen */
    transition: all 225ms ease-in-out;
    /* für beide Klassen!*/
    font-weight: 500;
    font-size: 20px;
}

.header-menu a:hover {
    border-bottom: 4px solid green;
    transition: all 225ms ease-in-out;
    color: green;
    padding-bottom: 5px;
}

.site-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    padding-left: 76px;
    padding-right: 76px;
}

.description-img-container img {
    height: 200px;
    width: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.description-img-container {
    padding: 16px;
}

.description-text-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.description-text-container a {
    background-color: rgb(9, 172, 9);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;
    text-decoration: none;
    color: white;
    width: 130px;
    text-align: center;
}

.content1 {
    padding: 16px;
    display: flex;
    justify-content: center;
    height: 350px;
    background-color: lightgray;
}

.content1-title {
    justify-content: center;
    display: flex;
    background-color: lightgray;
    padding: 16px !important;
    margin-bottom: -60px;
}

.content1-element {
    margin-left: 40;
    margin-right: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.content1-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.content2-title {
    justify-content: center;
    display: flex;
    padding: 16px !important;
}

.content2 {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 16px;
}

.content2 p {
    padding-right: 30px;
}

.content2 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.footer-container {
    height: 200px;
    background-color: rgb(41, 41, 41)
}

/* ++++++++ Recipe.html ++++++ */

.recipe-title {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 30;
    height: 300;
    margin-bottom: -40;
}

.recipe-title img {
    height: 150px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.recipe-ingredients {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 30;
    height: 300;
}

.recipe-attributes {
    display: flex;
    justify-content: left;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 40px;
    box-shadow: 0px 1px 1px lightgrey;
    margin-top: -62px;
}

.icons {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 8;
    padding-left: 6px;
    padding-right: 6px;
    align-items: center;
    height: 36px;
}

.recipe-ingredients a {
    background-color: rgb(9, 172, 9);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;
    text-decoration: none;
    color: white;
    width: 130px;
    text-align: center;
}

.recipe-ingredients a:hover {
    background-color: rgb(20, 196, 20);
    cursor: pointer;
}

.input {
    width: 170px;
    height: 40px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table td {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 10px;
}

.table {
    width: 100%;
    font-size: 20px;
    border-collapse: separate;
}

.recipe-method-title {
    margin-top: 370px;
    padding-left: 6%;
    padding-right: 6%;
}

.recipe-method {
    height: 250px;
    padding-left: 6%;
    padding-right: 6%;
}

.method-attributes {
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
}

.recipe-description {
    height: 300px;
    padding-left: 6%;
    padding-right: 6%;
}

.profile img {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.profile {
    display: flex;
    align-items: center;
}

.profile p {
    padding-left: 26px;
}

.icons img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden!important;
    }

    .header-logo img {
        margin-left: -50px;
    }

    .menu-mobile {
        display: flex;
        position: absolute;
        right: 16px;
        width: 50px;
        top: 16px;
        cursor: pointer;
        z-index: 1;
    }
    .overlay-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 2;
        background-color: rgb(94, 93, 93);
        border-left: 1px solid black;
        transform: translateX(100vw);
        transition: all 225ms ease-in-out;
    }
    .overlay-menu a, button {
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-top: 32px;
        margin-left: 16px;
    }
    .overlay-menu button {
        border: 1px solid white;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(204, 43, 43);
    }
    .show-overlay-menu {
       transform: translateX(0);
    }

    h2 {
        text-align: center;
        font-size: 1.5em;
    }
    p {
        text-align: center;
        font-size: 1.2em;
    }
    .header-menu {
        display: none;
    }
    .site-description {
        display: flex;
        flex-direction: column;
        padding-left: 13px;
        padding-right: 16px;
    }
    .description-text-container {
        align-items: center;
    }
    .d-none {
        display: none;
    }

    .content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 28px;
    padding-right: 16px;
    }
    .ingredients-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;

    }

    .input {
        font-size: 21px;
        padding-bottom: 21px;
        margin-bottom: 10px;
    }

    .recipe-method-title {
        margin-top: 473px;
    }


    .ingredients-mobile a{
        margin-bottom: 16px;
    }

    .recipe-description {
        margin-bottom: 150px;
    }
}